<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    </head>
    <body class="bg-gray-100 font-sans leading-normal text-gray-800">
        <div class="mx-auto px-2 h-screen flex items-center justify-center">
            {{ template_content }}
        </div>
        <footer class="site-footer">
            <div class="site-footer_inner">
                <nav class="site-footer_navigation">
                    <ul>
                        {{ nav:footer_navigation }}
                            <li><a {{ if target_blank }}target="_blank" rel="noopener" {{ /if }} href="{{ url }}">{{ title }}</a></li>
                        {{ /nav:footer_navigation }}
                    </ul>
                </nav>

                <p>copyright {{ now format="Y" }}</p>
            </div>
        </footer>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
